<table class="table">
	<thead>
	  <tr>
		<th>Id</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th>Remove</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let buyer of buyers">
		<td>{{buyer.id}}</td>
		<td>{{buyer.firstName}}</td>
		<td>{{buyer.lastName}}</td>
		<td>{{buyer.email}}</td>
	<!--	<td><a routerLink='/buyers/:id'>Check lastest purchase</a></td>-->
		<td>
		  <button (click)='removeBuyer(buyer)'>
			Remove
		  </button>
		</td>
	  </tr>
	</tbody>
	</table>
	
	<form>
		<label for="id">Id</label>
		<input type="text" name = 'id' [(ngModel)]="newBuyer.id"><br>
		<label for="">First Name</label>
		<input type="text" name="firstName" [(ngModel)]="newBuyer.firstName"><br>
		<label for="">Last Name</label>
		<input type="text" name="lastName" [(ngModel)]="newBuyer.lastName"><br>
		<label for="">Email</label>
		<input type="text" name="dateOfBirth" [(ngModel)]="newBuyer.email"><br>
		<button (click)="addBuyer()">Add Buyer</button>
	</form>